<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrapChange.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/contacter.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>联络员服务协议签订</title>
</head>
<div>
    <!--头部导航-->
    <header data-am-widget="header" class="fish-header fish-header-nav">
        <div class="fish-header-left fish-header-nav">
            <a href="#left-link" class="">
                <i class="glyphicon glyphicon-menu-left"></i>
            </a>
        </div>
        <h1 class="fish-header-title">
            <a href="#title-link" class="">
                联络员服务协议签订
            </a>
        </h1>
    </header>
    <!--申请信息-->
    <div class="container-fluid">
        <div class="row fish-margin-top">
            <div class="col-xs-18 col-xs-offset-1 text-left fish-apply-statusbg">
                <h5>尊敬的准联络员&nbsp张珊&nbsp你好:</h5>
                <span>您现在申请成为钓天下所属&nbsp浙江杭州&nbsp的区域联络员。请仔细阅读下文协议内容。【提交】本页代表您同意服务协议并将成为正式联络员开始工作！</span>
            </div>
        </div>
        <div class="row fish-margin-top fish-padding-bottom-lg">
            <div class="col-xs-18 col-xs-offset-1 text-left fish-apply-statusbg">
                <h4>钓天下联络员服务协议及工作职责</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
            </div>
        </div>
        <div class="row fish-agreement-panel">
            <div class="col-xs-2">
                <i class="fa fa-check-circle-o fish-contacter-icon-correct fish-icon" aria-hidden="true"></i>
                </div>
            <div class="col-xs-11">
                <p>我同意《钓天下联络员服务协议及工作职责》并愿意开始看展工作</p>
            </div>
            <div class="col-xs-4">
                <a class=" btn btn-lg fish-btn-confirm fish-agreement-btn"
                   href="javascript:;">提交
                </a>
            </div>
        </div>
    </div>
    </body>
</html>