<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrapChange.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/contacter.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src= "/js/contacterResource.js"></script>
    <title>资料库</title>
</head>
<body>
<!--头部导航-->
<header data-am-widget="header" class="fish-header fish-header-nav">
    <div class="fish-header-left fish-header-nav">
        <a href="#left-link" class="">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
    </div>
    <h1 class="fish-header-title">
        <a href="#title-link" class="">
            资料库
        </a>
    </h1>
</header>
<!--主题-->
<ul class="list-inline text-center fish-home-ranking" id="fishResourceList">
    <li class="col-xs-5 col-xs-offset-4">基本资料</li>
    <li class="col-xs-5 col-xs-offset-4">可下载资料</li>
</ul>
<!--基本资料和可下载资料-->
<div id="fishResourceContent">
    <ul class="list-unstyled fish-contacter-resource-list" >
        <li class="pull-left">
            <h3>《钓天下联络员协议及工作职责》<span>4.06</span></h3>
        </li>
        <li class="pull-left">
            <h3>《钓天下联络员协议及工作职责》<span>4.06</span></h3>
        </li>
        <li class="pull-left">
            <h3>《钓天下联络员协议及工作职责》<span>4.06</span></h3>
        </li>
    </ul>
    <ul class="list-unstyled fish-contacter-resource-list">
        <li class="pull-left">
            <h3>《钓天下联络员协议及工作职责》<span>4.06</span></h3>
            <span class="fish-resource-downloadicon fish-icon">下载</span><i class="glyphicon glyphicon-download-alt fish-icon" aria-hidden="true"></i>
        </li>
        <li class="pull-left">
            <h3>《钓天下联络员协议及工作职责》<span>4.06</span></h3>
            <span class="fish-resource-downloadicon fish-icon">下载</span><i class="glyphicon glyphicon-download-alt fish-icon" aria-hidden="true"></i>
        </li>
        <li class="pull-left">
            <h3>《钓天下联络员协议及工作职责》<span>4.06</span></h3>
            <span class="fish-resource-downloadicon fish-icon">下载</span><i class="glyphicon glyphicon-download-alt fish-icon" aria-hidden="true"></i>
        </li>
    </ul>
</div>

</body>
</html>