<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrapChange.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/contacter.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>联络员主页</title>
</head>
<body>
<!--头部导航-->
<header data-am-widget="header" class="fish-header fish-header-nav">
    <div class="fish-header-left fish-header-nav">
        <a href="#left-link" class="">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
    </div>
    <h1 class="fish-header-title">
        <a href="#title-link" class="">
            贡献明细表
        </a>
    </h1>
</header>
<!--主体-->

<ul class="list-unstyled text-left fish-home-contributions-sum fish-home-contributions-details fish-contribution-details">
    <li class="fish-home-contributions-title">
       <ul class="list-inline">
           <li class="col-xs-6">
               <h4>贡献明细</h4>
           </li>
           <li class="col-xs-6 col-xs-offset-2 text-right">
                <span>总贡献 </span><span>2301</span>
           </li>
           <li class="col-xs-6 text-right">
               <span>月贡献 </span><span>21</span>
           </li>
       </ul>
    </li>
    <li class="fish-home-contributions-text">
        <ul class="list-inline">
            <li class="col-xs-8">
                <strong>申报钓点审核通过</strong>
            </li>
            <li class="col-xs-6 text-right">
                <span>+10</span>
            </li>
            <li class="col-xs-6 text-right">
                <span>3月14日</span>
            </li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="col-xs-8">
                <strong>申报钓点签约成功</strong>
            </li>
            <li class="col-xs-6 text-right">
                <span>+20</span>
            </li>
            <li class="col-xs-6 text-right">
                <span>3月14日</span>
            </li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="col-xs-8">
                <strong>申报咨询成功</strong>
            </li>
            <li class="col-xs-6 text-right">
                <span>+50</span>
            </li>
            <li class="col-xs-6 text-right">
                <span>3月14日</span>
            </li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="col-xs-8">
                <strong>本地会员入会3人</strong>
            </li>
            <li class="col-xs-6 text-right">
                <span>+40</span>
            </li>
            <li class="col-xs-6 text-right">
                <span>3月14日</span>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>