<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrapChange.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/contacter.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>联络员入口</title>
</head>
<body>
<!--头部导航-->
<header data-am-widget="header" class="fish-header fish-header-nav">
    <div class="fish-header-left fish-header-nav">
        <a href="#left-link" class="">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
    </div>

    <h1 class="fish-header-title">
        <a href="#title-link" class="">
            联络员入口
        </a>
    </h1>
</header>
<!--导航页-->
<img src="/images/banner.png" data-rel="" alt="" class="img-responsive center-block"/>
<!--登录表单-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-22">
            <img src="/images/contacter.png" data-rel="" alt="" class="img-responsive center-block fish-margin-top"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-20 center-block">
            <h5 class="text-center">请先验证手机号</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-20">

                <div class="form-group has-feedback fish-round">

                    <span class="fish-input-group-addon"><img src="/images/icon-phone.png"/></span>
                    <input type="text" class="form-control input-lg" id="#1" placeholder="请输入手机号">

                </div>
                <div class="form-group has-feedback fish-round fish-round2">
                    <span class="fish-input-group-addon"><img src="/images/icon-val.png"/></span>
                    <input type="text" class="form-control input-lg" id="#2" placeholder="请输入验证码">
                    <a class="fish-get-code form-control-feedback" href="javascript:;">获取验证码</a>
                </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-20">
            <a href="javascript:;"  class="btn fish-btn-confirm btn-lg btn-block col-md-10 col-md-offset-1 fish-margin-vertical"
               data-toggle="modal" data-target="#myModal">确定</a>
        </div>

    </div>

    <!--弹出窗口-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="myModal">
        <div class="modal-dialog modal-lg fish-login-alert">
            <div class="modal-content">
                <div class="fish-login-alerttext">
                <p class="text-center">申请钓天下区域联络员<br />请先成为中钓协会员</p>
                </div>
                <div class="fish-login-alertbtn text-center">
                    <a href="##">前往入会</a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>