<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrapChange.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/contacter.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>消息</title>
</head>
<body>
<!--头部导航-->
<header data-am-widget="header" class="fish-header fish-header-nav">
    <div class="fish-header-left fish-header-nav">
        <a href="#left-link" class="">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
    </div>

    <h1 class="fish-header-title">
        <a href="#title-link" class="">
            消息
        </a>
    </h1>
</header>
<!--主题-->
<ul class="list-inline text-center fish-home-ranking">
    <li class="col-xs-4 col-xs-offset-4 active">消息</li>
    <li class="col-xs-4 col-xs-offset-4">公告</li>
</ul>
<!--消息页面-->
<ul class="list-unstyled fish-contacter-notice">
    <li class="pull-left">
        <ul class="list-inline">
            <li class="col-xs-4"><img class="img-rounded" src="/images/user-icon.png" /></li>
            <li class="col-xs-10">
                <h2 >联络员</h2>
                <span class="fish-greycolor-icon">联络员消息已阅读</span>
            </li>
            <li class="col-xs-6 text-right">
                <span class="fish-greycolor-icon">13:30</span></li>
        </ul>
    </li>
    <li class="pull-left">
        <ul class="list-inline">
            <li class="col-xs-4"><img class="img-rounded" src="/images/user-icon.png" /></li>
            <li class="col-xs-10">
                <h2 >联络员</h2>
                <span class="fish-greycolor-icon">联络员消息已阅读</span>
            </li>
            <li class="col-xs-6 text-right">
                <span class="fish-greycolor-icon">13:30</span></li>
        </ul>
    </li>
</ul>
</body>
</html>