<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrapChange.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/contacter.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>联络员主页</title>
</head>
<body>
<!--头部导航-->
<header data-am-widget="header" class="fish-header fish-header-nav">
    <div class="fish-header-left fish-header-nav">
        <a href="#left-link" class="">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
    </div>
    <h1 class="fish-header-title">
        <a href="#title-link" class="">
            联络员主页
        </a>
    </h1>
</header>
<!--主体-->
<div class="fish-home-panel">
    <div class="fish-home">
        <img class="img-responsive" src="/images/member-bg.png"/>
        <!--透明背景-->
        <div class="fish-home-userinfo-bg"></div>
        <!--用户信息-->
        <div class="container-fluid fish-home-userinfo">
            <div class="row">
                <div class="col-xs-4 text-right fish-home-userinfo-head">
                    <img src="/images/icon-portrait-03.png" class="img-circle"/>
                </div>
                <div class="col-xs-12 fish-home-userinfo-detail">
                    <ul class="list-unstyled ">
                        <li><h3>王小军</h3></li>
                        <li><span>浙江&nbsp杭州</span></li>
                        <li><span>浙江抚顺企业有限公司&nbsp总经理</span></li>
                    </ul>
                </div>
                <div class="col-xs-2 fish-home-userinfo-contribution fish-home-contributions-date">
                    <dl class="text-center">
                        <dd>2016.04.14</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="list-unstyled text-left fish-home-contributions-sum">
    <li class="fish-home-contributions-title">
        <h4>贡献</h4><span class="fish-greycolor-icon">(联络员可通过日常联络员工作获取贡献值)</span>
    </li>
    <li>
        <ul class="list-inline fish-home-contributions-num">
            <li class="col-xs-6"><strong>总贡献</strong> <span>1266</span></li>
            <li class="col-xs-6"><strong>月贡献</strong><span>566</span></li>
            <li class="col-xs-5 col-xs-offset-3 text-right"><a href="##">明细>></a></li>
        </ul>
    </li>
</ul>
<ul class="list-unstyled text-left fish-home-contributions-sum fish-home-contributions-details">
    <li class="fish-home-contributions-title">
        <h4>成果</h4><span class="fish-greycolor-icon">(联络员日常工作完成数据统计)</span>
    </li>
    <li class="fish-home-contributions-text">
        <ul class="list-inline">
            <li class="col-xs-5">
                <strong>申报钓点</strong>
            </li>
            <li class="col-xs-5 col-xs-offset-1 text-left fish-greycolor-icon">
                <span>上传 </span><span>221个</span>
            </li>
            <li class="col-xs-5 text-right fish-greycolor-icon">
                <span>签约 </span><span>28个</span>
            </li>
            <li class="col-xs-4 text-right">
                <span>$203</span>
            </li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="col-xs-6">
                <strong>本地会员</strong>
            </li>
            <li class="col-xs-5 col-xs-offset-5 text-right fish-greycolor-icon">
                <strong></strong><span>1266人</span>
            </li>
            <li class="col-xs-4 text-right">
                <span>$203</span>
            </li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="col-xs-5">
                <strong>申报咨询</strong>
            </li>
            <li class="col-xs-5 col-xs-offset-1 text-left fish-greycolor-icon">
                <span>上传 </span><span>212篇</span>
            </li>
            <li class="col-xs-5 text-right fish-greycolor-icon">
                <span>采纳 </span><span>21篇</span>
            </li>
            <li class="col-xs-4 text-right">
                <span>$203</span>
            </li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="col-xs-6">
                <strong>申报钓鱼点</strong>
            </li>
            <li class="col-xs-5 text-left fish-greycolor-icon">
                <span>上传 </span><span>45家</span>
            </li>
            <li class="col-xs-5 text-right fish-greycolor-icon">
                <span>签约 </span><span>21家</span>
            </li>
            <li class="col-xs-4 text-right">
                <span>$203</span>
            </li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="col-xs-6">
                <strong>申报渔具企业</strong>
            </li>
            <li class="col-xs-5 col-xs-offset-5 text-right fish-greycolor-icon">
                <span>签约 </span><span>1266</span>
            </li>
            <li class="col-xs-4 text-right">
                <span>$203</span>
            </li>
        </ul>
    </li>
    <li>
        <ul class="list-inline">
            <li class="col-xs-6">
                <strong>申报钓点</strong>
            </li>
            <li class="col-xs-5 col-xs-offset-5 text-right fish-greycolor-icon">
                <span>完成 </span><span>17个</span>
            </li>
            <li class="col-xs-4 text-right">
                <span>$566</span>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>