<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrapChange.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/contacter.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>资料详情页</title>
</head>
<body>
<!--头部导航-->
<header data-am-widget="header" class="fish-header fish-header-nav">
    <div class="fish-header-left fish-header-nav">
        <a href="#left-link" class="">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
    </div>

    <h1 class="fish-header-title">
        <a href="#title-link" class="">
            资料详情页
        </a>
    </h1>
</header>

<!--资料详情页面-->
<ul class="list-unstyled fish-contacter-notice fish-contacter-notice-detail" style="height: 50px;">
    <li class="pull-left"  style="height: 50px;">
        <ul class="list-inline fish-contacter-resource-detail-title">
            <li class="col-xs-14">
                <h2>钓天下&nbsp钓点商户服务协议.dotc</h2>
            </li>
            <li class="col-xs-6">
                <span class="fish-resource-downloadicon fish-icon">下载</span><i class="glyphicon glyphicon-download-alt fish-icon" aria-hidden="true"></i>
            </li>
        </ul>
    </li>
    </li>
</ul>
<div class="row fish-notice-details fish-notice-details-text">
    <div class="col-xs-20 text-left">
        <span class="fish-greycolor-icon">2016.4.03 22:03</span>
    </div>
    <div class="col-xs-20">
        <p>海钓人纵情南海，界生态园竞技钓鱼塘。个人总成绩排名1-30名的选手获得国家竞钓大师积分。
            赛事规则及规程需报我会审核后对外发布。比赛执裁需按照国家级四类赛事要求，按一定比例选调国家级裁判执。</p>
    </div>
</div>
</body>
</html>