<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/amazeui.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script>
        $(function(){
            testBtn();
            function testBtn(){
                $("#testBtn").on("click",function(){
                    $.post("/list",function(data){
                        setTimeout(1000);
                        console.log(data);
                    });
                    console.log("hello");
                });
            }
        });
    </script>
    <title></title>
</head>
<body>
我是的话页面的详情页
<div class="am-form-group am-form-file">
    <button type="button" class="am-btn am-btn-default am-btn-sm">
        <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
    <input type="file" multiple>
</div>

<hr/>

<div class="am-form-group am-form-file">
    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
    <input type="file" multiple>
</div>
<button id="testBtn" class="am-btn am-btn-primary">测试按钮</button>
</body>
</html>