<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrapChange.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/contacter.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>审核通过</title>
</head>
<body>
<!--头部导航-->
<header data-am-widget="header" class="fish-header fish-header-nav">
    <div class="fish-header-left fish-header-nav">
        <a href="#left-link" class="">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
    </div>
    <h1 class="fish-header-title">
        <a href="#title-link" class="">
            申请联络员
        </a>
    </h1>
</header>
<!--申请信息-->
<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-18 col-xs-offset-1 text-center fish-apply-statusbg fish-margin-top">
            <span class="glyphicon glyphicon-ok-sign fish-icon fish-icon-success" aria-hidden="true"></span>

            <p>恭喜你已通过联络员审核</p>
        </div>
    </div>
    <div class="row">
        <a href="javascript:;" class="col-xs-18  col-xs-offset-1  btn-lg fish-applybtn">进入联络员主页</a>
    </div>
</div>

</body>
</html>